* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    background-image: linear-gradient(to right, red, blue);
  }

  h1 {
    text-align: center;
    margin-top: 50px;
    color: white;
    margin-bottom: 60px;
    font-size: 35px;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .list-input {
    border-radius: 20px 0 20px 0;
    height: 40px;
    width: 25%;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 25px;
    margin: 0;
  }
  .list-button {
    color: blue;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 20px 0 20px 0;
    background-color: white;
    /* border-radius: 100%; */
    border: none;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
  }
  .list-button:active {
    background-color: lightskyblue;
    color: white;
  }

  .list-button i {
    font-size: 30px;
  }
  .list-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .list-list{
        min-width: 25%;
        list-style: none;
        
    }
    .list{
        margin: 18px;
        border-radius: 20px 0 20px 0;
        padding: 25px;
        background-color: white;
        color: black;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .list-item{
        flex:1;
        margin: 0 8px;
    }
    .chk-btn{
        background-color: rgb(93, 250, 145);
        border-radius: 100%;
        color: black;
        border: none;
        outline: none;
        padding: 16px;
        font-size: 16px;
        cursor: pointer;
    }
    .delete-btn{
        background-color:red;
        border-radius: 100%;
        color: white;
        border: none;
        outline: none;
        padding: 16px;
        font-size: 16px;
        cursor: pointer;
    }
    .fa-strikethrough,.fa-trash{
        pointer-events: none;
    }
    .completed{
        text-decoration: line-through;
        opacity: 0.5;
    }
